{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'PizzaShopApp/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="bg-ruby">
    <div class="container h100">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <br>
                <div class="card card-body">
                    <div class="card-body">
                        <h3 class="text-center text-uppercase"><b>{% block heading %}{% endblock %}</b></h3>
                        <br>
                        {% block page %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>